.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.375rem;

  .form-label {
    font-size: 0.9375rem;
    font-weight: 500;
  }

  .form-input {
    border: 1px solid var(--input);
    border-radius: var(--radius-md);
    padding: 0.5rem 0.75rem;
    height: 2.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    font-size: 0.9375rem;
    outline: none;
    -webkit-transition: border-color var(--duration),
      -webkit-box-shadow var(--duration);
    transition: border-color var(--duration), -webkit-box-shadow var(--duration);
    -o-transition: border-color var(--duration), box-shadow var(--duration);
    transition: border-color var(--duration), box-shadow var(--duration);
    transition: border-color var(--duration), box-shadow var(--duration),
      -webkit-box-shadow var(--duration);
    caret-color: var(--primary);

    &:focus {
      border-color: var(--primary);
      -webkit-box-shadow: var(--ring-primary);
      box-shadow: var(--ring-primary);
    }

    &.invalid {
      border-color: var(--destructive);
      -webkit-box-shadow: var(--ring-destructive);
      box-shadow: var(--ring-destructive);
      caret-color: var(--destructive);
    }

    &:disabled {
      pointer-events: none;
    }

    &[type='number'] {
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .error-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.375rem;
    color: var(--destructive);

    .error-icon {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -ms-flex-item-align: start;
      align-self: flex-start;
      font-size: 1.125rem;
    }

    .error-text {
      font-size: 0.8125rem;
      font-weight: 500;
    }
  }
}
