@import '../../../styles/mixins.scss';

.sheet-overlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-xl);
  background-color: var(--overlay);
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);

  &[data-state='open'] {
    --enter-opacity: 0;
    -webkit-animation: animate-in 150ms;
    animation: animate-in 150ms;
  }

  &[data-state='closed'] {
    --exit-opacity: 0;
    -webkit-animation: animate-out 150ms;
    animation: animate-out 150ms;
  }
}

.sheet-content {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-xl);
  height: 100%;
  width: 75%;
  max-width: 24rem;
  background-color: var(--background);
  padding: 1.5rem;
  -webkit-box-shadow: var(--shadow-lg);
  box-shadow: var(--shadow-lg);
  border-right: 1px solid var(--border);
  border-radius: 0 var(--radius-lg) var(--radius-lg) 0;

  &:focus {
    outline: none;
  }

  &[data-state='open'] {
    --enter-translate-x: -100%;
    -webkit-animation: animate-in 400ms ease-in-out;
    animation: animate-in 400ms ease-in-out;
  }

  &[data-state='closed'] {
    --exit-translate-x: -100%;
    -webkit-animation: animate-out var(--duration) ease-in-out;
    animation: animate-out var(--duration) ease-in-out;
  }

  .sheet-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
  }

  .sheet-close {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: auto;
    border-radius: var(--radius);
    font-size: 1.25rem;
    opacity: 0.7;
    -webkit-transition: opacity var(--duration);
    -o-transition: opacity var(--duration);
    transition: opacity var(--duration);

    &:hover {
      opacity: 1;
    }

    &:focus-visible {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    &:disabled {
      pointer-events: none;
    }

    &[data-state='open'] {
      background-color: var(--secondary);
    }
  }
}
