.checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.75rem;

  .checkbox-input:disabled + .checkbox-label {
    opacity: 0.7;
  }

  .checkbox-label {
    font-size: 0.9375rem;
    font-weight: 500;
  }
}
