.button {
  border-radius: var(--radius-md);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: 500;
  -webkit-transition: background-color var(--duration), color var(--duration),
    opacity var(--duration), -webkit-box-shadow var(--duration),
    -webkit-transform var(--duration-alt);
  transition: background-color var(--duration), color var(--duration),
    opacity var(--duration), -webkit-box-shadow var(--duration),
    -webkit-transform var(--duration-alt);
  -o-transition: background-color var(--duration), color var(--duration),
    opacity var(--duration), box-shadow var(--duration),
    transform var(--duration-alt);
  transition: background-color var(--duration), color var(--duration),
    opacity var(--duration), box-shadow var(--duration),
    transform var(--duration-alt);
  transition: background-color var(--duration), color var(--duration),
    opacity var(--duration), box-shadow var(--duration),
    transform var(--duration-alt), -webkit-box-shadow var(--duration),
    -webkit-transform var(--duration-alt);

  &.shadow:not(:disabled):hover {
    -webkit-box-shadow: var(--shadow-md);
    box-shadow: var(--shadow-md);
  }

  &.pressable:not(:disabled):active {
    -webkit-transform: scale(99%);
    -ms-transform: scale(99%);
    transform: scale(99%);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.default-variant {
    background-color: var(--primary);
    color: var(--primary-foreground);

    &:hover {
      background-color: var(--primary-hover);
    }

    &:focus-visible {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }
  }

  &.destructive {
    background-color: var(--destructive);
    color: var(--destructive-foreground);

    &:hover {
      background-color: var(--destructive-hover);
    }

    &:focus-visible {
      outline: 2px solid var(--destructive);
      outline-offset: 2px;
    }
  }

  &.outline {
    border: 1px solid var(--input);
    background-color: var(--background);
    outline: none;

    &:is(:hover, :focus-visible) {
      background-color: var(--accent);
      color: var(--accent-foreground);
    }
  }

  &.secondary {
    background-color: var(--secondary);
    color: var(--secondary-foreground);

    &:hover {
      background-color: var(--secondary-hover);
    }

    &:focus-visible {
      outline: 2px solid var(--secondary);
      outline-offset: 2px;
    }
  }

  &.ghost {
    outline: none;

    &:is(:hover, :focus-visible) {
      background-color: var(--accent);
      color: var(--accent-foreground);
    }
  }

  &.link {
    border-radius: var(--radius-sm);
    color: var(--primary);
    text-decoration: none;

    &:hover {
      color: var(--primary-hover);
    }

    &:focus-visible {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }
  }

  &.default-size {
    height: 2.5rem;
    padding: 0.5rem 1rem;
  }

  &.sm {
    height: 2.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  &.lg {
    height: 2.75rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  &.icon {
    height: 2.5rem;
    width: 2.5rem;
  }

  &.link-size {
    height: auto;
  }
}
