@import '../../styles/mixins.scss';

.settings {
  .section-email-verification {
    border: 1px solid var(--border);
    border-radius: var(--radius-lg);
    padding: 1.25rem;
    -webkit-box-shadow: var(--shadow-sm);
    box-shadow: var(--shadow-sm);

    .section-title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .section-description {
      margin-top: 1rem;
      color: var(--muted-foreground);
    }

    .form-email-verification {
      margin-top: 1.25rem;

      .submit-button {
        .loading-icon {
          font-size: 1.375rem;
        }
      }
    }
  }

  .section-change-email {
    margin-top: 1rem;
    border: 1px solid var(--border);
    border-radius: var(--radius-lg);
    padding: 1.25rem;
    -webkit-box-shadow: var(--shadow-sm);
    box-shadow: var(--shadow-sm);

    .section-title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .section-description {
      margin-top: 1rem;
      color: var(--muted-foreground);

      .current-email {
        font-weight: 500;
      }
    }

    .form-change-email {
      margin-top: 1.25rem;

      .form-fieldset {
        display: -ms-grid;
        display: grid;
        gap: 1.25rem;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;

        @include sm {
          -ms-grid-columns: 1fr 1.25rem 1fr;
          grid-template-columns: 1fr 1fr;

          > :nth-child(2),
          :nth-child(3) {
            -ms-grid-row: 2;
            grid-row: 2;
          }
        }
      }

      .form-actions {
        margin-top: 1.25rem;

        .submit-button {
          .loading-icon {
            font-size: 1.375rem;
          }
        }
      }
    }
  }

  .section-change-password {
    margin-top: 1rem;
    border: 1px solid var(--border);
    border-radius: var(--radius-lg);
    padding: 1.25rem;
    -webkit-box-shadow: var(--shadow-sm);
    box-shadow: var(--shadow-sm);

    .section-title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .section-description {
      margin-top: 1rem;
      color: var(--muted-foreground);
    }

    .form-change-password {
      margin-top: 1.25rem;

      .form-fieldset {
        display: -ms-grid;
        display: grid;
        gap: 1.25rem;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;

        @include sm {
          -ms-grid-columns: 1fr 1.25rem 1fr;
          grid-template-columns: 1fr 1fr;

          > :nth-child(2),
          :nth-child(3) {
            -ms-grid-row: 2;
            grid-row: 2;
          }
        }
      }

      .form-actions {
        margin-top: 1.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1rem;

        .submit-button {
          .loading-icon {
            font-size: 1.375rem;
          }
        }

        .forgot-link {
          color: var(--primary);
          font-weight: 500;
          -webkit-transition: color var(--duration);
          -o-transition: color var(--duration);
          transition: color var(--duration);

          &:hover {
            color: var(--primary-hover);
          }
        }
      }
    }
  }

  .section-delete-account {
    margin-top: 1rem;
    border: 1px solid var(--border);
    border-radius: var(--radius-lg);
    padding: 1.25rem;
    -webkit-box-shadow: var(--shadow-sm);
    box-shadow: var(--shadow-sm);

    .section-title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .section-description {
      margin-top: 1rem;
      color: var(--muted-foreground);
    }

    .delete-account-alert-dialog-trigger {
      margin-top: 1.25rem;
    }
  }
}

.delete-account-alert-dialog-content {
  .form-delete-account {
    margin-top: 1rem;

    .form-actions {
      margin-top: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      gap: 1rem;

      @include sm {
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }

      .submit-button {
        .loading-icon {
          font-size: 1.375rem;
        }
      }
    }
  }
}
